*{
    margin: 0;
    padding: 0;
          }
.container{
    margin-top: 30px;
        }
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        }
.form-control{
    margin-top: 100px;
    position: relative;
}
.text{
    color: rgb(202, 28, 164);
   
        }
.btn-add{
    background-color: rgb(96, 239, 127);
    margin-top: 10px;
    font-weight: 600;
    margin-left: 700px;
    position: absolute;
    top: 120px;
    left: 500px;
            }
.btn-delete{
    background-color: rgb(235, 37, 37);
    margin-top: 10px;
    font-weight: 600;
    position: absolute;
   top: 120px;
    right: 200px;
                
}
.btn-add .btn-delete:hover{
    color: rgb(235, 27, 45);
            }
@media (max-width: 575px) {          
 .btn-add .btn-delete:hover{
    color: rgb(0, 255, 81);
}
    
.input{
    color: rgb(245, 205, 74);
}
.btn-add{
    background-color: rgb(96, 239, 127);
    margin-top: 10px;
    font-weight: 600;
    position: absolute;
    top: 171px;
    left: -608px;
    }
    .btn-delete {
        background-color: rgb(235, 37, 37);
        margin-top: 10px;
        font-weight: 600;
        position: absolute;
        top: 171px;
        right: 88px;
    }
}


    
        